.section-1{
    background-image: url("https://www.sololearn.com/Uploads/header.jpg");
    background-size: cover;
    border-radius: 30px;
    padding: 40px;
    margin: 20px;
}

.section-2{
    background-color: rgb(28, 179, 199);
    border-radius: 5px;
    border-style: inset;
    border-width: 10px;
    border-color: yellow;
    padding: 40px;
    margin: 30px 80px 40px 80px;
}

.sub_section{
    background-color: rgb(235, 231, 231);
    border-radius: 20px;
    padding: 30px;
}


h1 span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(248, 247, 247);
    font-size: 80px;
    border: dashed #bfc1c2;
    padding: 20px;
}

h2{
    color: linen;
    background-color: rgb(141, 123, 108);
}







header{
    background-color: rgb(210, 240, 248);
}




div.intro{
    margin: 70px 0 0 150px;
}

#name{
    font-size: 80px;
    
}

.image{
    margin: -240px 0 0 900px;
    border-radius: 20%;
    
    
}




div.content{
    width: 80%;
    margin: 0 10% 0 10%;
    
}

div.left{
    width: 30%;
    background-color: silver;
}

div.right{
    width: 20%;
    
}

.foot{
    background-color: darksalmon;
    height: 80px;
}
