
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>Resume</title>

    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
        <div class="section-1">
            <h1><span>Suman B H</span></h1>
            <br>
            <p>Hi i'm Suman,4th year ISE student at <strong>Nitte Meenakshi Institute of Technology</strong> .<br> Born and bought up in Arsikere
                 Hassan dist. Did my PU education at KLE Bangalore. Being happy is my major priority.<br> Extrovert in nature and always interested in 
                 <strong>reading news</strong> news and <strong>playing football</strong> .</p> 
             
            <div class="image">
                <img src="assets/Suman_photo.jpg" alt=""  height= 250px width= 200px border=3px>
            </div> 
        </div>           
        <br>
        <hr>
    
      
        <div class="section-2">
            <div class="sub_section">
                <pre>
                    <h2>OBJECTIVE</h2>
                    <p>Seeking a challenging position in a reputable organization to use my knowledge
                        and gain practical experience with opportunities for growth.</p>
                </pre>
            </div>
            <br>
            <div class="sub_section">        
                <pre>
                    <h2>PROJECTS</h2>
                        <ul style="list-style-type:disc">
                            <li>
                                <h3>Smart Vehicle <span style="display:inline-block; width:620px;"></span> Oct 2018 - Feb 2019
                                </h3>
                            </li>
                        <ul style="list-style-type:circle">
                            <li>Objective was to present real time data of a vehicle operating remotely to the Administrator using Thingworx Platform.</li>
                            <li>Technology Stack – Thingworx, Postman.</li>
                            <li>Status of various parameters like battery, speed, No of Passengers, Headlight etc. were fetched
                                and reflected the data on various mashups on Thingworx Platform.</li>
                            <li>Initiative by leading the team and provided space for every team member to explore
                                their strength and handled difficulties with composure.</li> 
                            <li>Achieved the milestones planned and gained the experience of being a Team Leader.</li>
                        </ul>
                        </ul>


                        <ul style="list-style-type:disc">
                            <li>
                                <h3>Faculty Management System <span style="display:inline-block; width:500px;"></span> Sept 2018 - Nov 2018
                                 </h3>
                            </li>
                        <ul style="list-style-type:circle">
                            <li>Objective was to develop an end-to-end Web Application for Faculty Management i.e. to store
                                the faculties details.</li>
                            <li>Technology Stack – HTML, CSS, PhpMyAdmin, XAMPP.</li>
                            <li>Importance was given to database of the Project and explored the power of Web Technology.</li>                        <li>Achieved the pre-set task of taking inputs from user and storing it in database and successfully
                                displayed the data stored in PDF file.</li> 
                        </ul>
                        </ul>


                        <ul style="list-style-type:disc">
                            <li>
                                <h3>Napp – A student Staff Portal <span style="display:inline-block; width:500px;"></span>Jan 2019 - Mar 2019
                                </h3>
                            </li>
                            <ul style="list-style-type:circle">
                                <li>An Android Application aimed at providing a platform to submit grievances in our Institution.</li>
                                <li>Technology Stack – Android Studio, Github, Firebase.</li>
                                <li>Users were provided with Login Credentials and features like submitting grievances by
                                    clicking photos and uploading it with description were implemented.</li> 
                                <li>Successful in implementing basic ideas despite various impediments like difficulties in
                                    understanding Android Studio Widgets, version control and database connectivity.</li>        
                            </ul>
                        </ul>
                </pre>
            </div>
            <br>
            <div class="sub_section">
                <pre>
                    <h2>INTERNSHIP PROGRAM</h2>
                        <ul style="list-style-type: disc;">
                            <li>
                                Company - Biztime IT Solutions Pvt Ltd<span style="display:inline-block; width:500px;"></span>June 2019 – July 2019          
                            </li>
                            <li>
                                Project Title - “ZonalDesk-Query Resolution System”
                            </li>
                            <li>
                                Description - Worked on Use Cases and Streamlined Software Requirement Specification.<br>
                                Engaged in UI/UX design and development for User Query Management Window. <br>
                                Technology Stack – HTML, CSS, Visual Studio Code.<br>
                                Encountered various applications like Slack, Yammer, etc.
                            </li>
                        </ul>
                </pre>
            </div>
            <br>    
            <div class="sub_section">
                <pre>
                    <h2>LANGUAGES KNOWN</h2>
                    <ul style="list-style-type: disc;">
                        <li> Kannada </li>
                        <li> English </li>
                        <li> Hindi </li>
                    </ul>
                </pre>
            </div>        
            <br>
            <div class="sub_section">
                <pre>
                    <h2>TECHNICAL SKILLS</h2>
                    <ul style="list-style-type: disc;">
                        <li> Programming Languages – C++, Java, HTML and CSS </li>
                        <li> Operating System – Ubuntu, Windows  </li>
                        <li> Database – MySql </li>
                        <li> Tools – Visual Studio Code, Android Studio, Github, Cisco Packet Tracer, Slack, Google Colab
                            Zoom, LibreOffice Writer.</li>
                            
                    </ul>
                </pre>
            </div>       
            <br>
            <div class="sub_section">
                    <h2>ACADEMIC QUALIFICATIONS</h2>
                    <table border="2px">
                        <tr style="text-align: center;">
                            <th>Degree/Examination</th>
                            <th>Institution</th>
                            <th>Year</th>
                            <th>Percentage/CGPA</th>
                        </tr>

                        <tr style="text-align: center;">
                            <td>B.E</td>
                            <td>Nitte Meenakshi Institute Of Technology</td>
                            <td>2016-Present</td>
                            <td>8.95/10</td>
                        </tr>

                        <tr style="text-align: center;">
                            <td>XII</td>
                            <td>KLE’s S.Nijalingappa P U College</td>
                            <td>2014-2016</td>
                            <td>93.16%</td>
                        </tr>

                        <tr style="text-align: center;">
                            <td>X</td>
                            <td>Deepak High School</td>
                            <td>2013-2014</td>
                            <td>96.16%</td>
                        </tr>
                    </table>
            </div>    
            <br>
            <div class="sub_section">
                <pre>
                    <h2>HOBBIES</h2>
                        <ul style="list-style-type: disc;">
                            <li> Playing Football </li>
                            <li> News Reading </li>
                            <li> Flautist </li>
                        </ul>
                </pre>
            </div>    
        </div>
           
    
    <footer class="foot">
        <div>
            <a href="https://www.linkedin.com/in/suman-bh-54a139148" target="_blank"><img src="linkedin.png" width="50px" height="50px"></a>
            <a href="https://twitter.com/sumanbh2014" target="_blank"><img src="twitter.png" width="50px" height="50px"></a>
            <a href="https://www.facebook.com/suman.bh.5" target="_blank"><img src="facebook.png    " width="50px" height="50px"></a>
        </div>
        
    </footer>
</body>
</html>